<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Diseño <span class="segundo_color">Multimedia</span></h1>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="pagina1.html">NOSOTROS</a></li>
                <li><a href="pagina2.html">SERVICIOS</a></li>
                <li><a href="pagina3.html" class="blue">CONTACTO</a></li>   
            </ul>
        </nav>
    </header>
    <main>

        <section class="suscribete">
            <article>
                <h3 class="titulo_suscribete">Suscribete a nuestro boletin</h3>
            </article>
            <article class="email">
                <input class="email1" type="email" name="" placeholder="Ingrese el Email...">
                <button>Suscribete</button>
            </article>
        </section>
            <section class="nosotros1">
                <section class="servicios">
                    <article class="encuesta">
                        <h2><b>Contacto</b></h2>
                        <h3 class="titulo_encuestas">Nombre</h3>
                        <input type="text" class="text_box" placeholder="Ingrese su nombre">
                        <h3 class="titulo_encuestas">Email</h3>
                        <input type="text" class="text_box" placeholder="Ingrese su Email">
                        <h3 class="titulo_encuestas">Teléfono</h3>
                        <input type="text" class="text_box" placeholder="Ingrese su Teléfono">
                        <h3 class="titulo_encuestas">Celular</h3>
                        <input type="text" class="text_box" placeholder="Ingrese su Celular">
                        <h3 class="titulo_encuestas">Mensaje</h3>
                        <textarea name="" id="" class="text_box_1"></textarea>
                        <button class="button_1">Enviar</button>
                    </article>
                </section>
    
                <section class="hacemos3">
                    <article>
                        <h2><b>Que hacemos</b></h2>
                        <p>Lorem ipsum, dolor sit amet consecteturadipisicing elit. Expedita, dicta temporefacere sapiente quas aliquid necessitatibuslabore corrupti rerum sit eveniet.Necessitatibus beatae facere illum reiciendiseius fuga commodi deleniti.</p>
                    </article>
                    <article>
                        <img src="../assets/images/mapaGoogle.png" alt="" class="img_contactenos">                        
                    </article>
                </section>
    
            </section>
        </section>

        </section>
    </main>
    <footer>
        <p>Graphel Desarrollo Web, Copyright© 2017</p>
    </footer>
</body>
</html>