<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Diseño <span class="segundo_color">Multimedia</span></h1>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="pagina1.html">NOSOTROS</a></li>
                <li><a href="pagina2.html" class="blue">SERVICIOS</a></li>
                <li><a href="pagina3.html">CONTACTO</a></li>   
            </ul>
        </nav>
    </header>
    <main>
        <section class="suscribete">
            <article>
                <h3 class="titulo_suscribete">Suscribete a nuestro boletin</h3>
            </article>
            <article class="email">
                <input class="email1" type="email" name="" placeholder="Ingrese el Email...">
                <button>Suscribete</button>
            </article>
        </section>
        
        <section class="nosotros1">

            <section class="servicios">
                <h2><b>Servicios</b></h2>
                <article class="servicios_1">
                    <h2><b>Diseño web</b></h2>
                    <p class="text_precio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora totam quo expedita aliquam beatae unde reiciendis vel ad, accusantium pariatur magnam, qui et cum ut praesentium odio quaerat perferendis dolorem?
                    </p>
                    <p class="precio">Precio: $300000-$100000000</p>
                </article>
                <article class="servicios_1">
                    <h2><b>Desarrollo Web</b></h2>
                    <p class="text_precio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta ipsam enim voluptatum deserunt placeat explicabo at suscipit, aliquam rem quos voluptatibus nulla ea eos. Optio facere pariatur beatae aliquam harum!
                    </p>
                    <p class="precio">Precio: $1000000</p>
                </article>
                <article class="servicios_1">
                    <h2><b>Hosting Web</b></h2>
                    <p class="text_precio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta ipsam enim voluptatum deserunt placeat explicabo at suscipit, aliquam rem quos voluptatibus nulla ea eos. Optio facere pariatur beatae aliquam harum!
                    </p>
                    <p class="precio">Precio: $300000</p>
                </article>
            </section>

            <section class="hacemos2">
                <article>
                    <h2><b>Que hacemos</b></h2>
                    <p>Lorem ipsum, dolor sit amet consecteturadipisicing elit. Expedita, dicta temporefacere sapiente quas aliquid necessitatibuslabore corrupti rerum sit eveniet.Necessitatibus beatae facere illum reiciendiseius fuga commodi deleniti.</p>
                </article>
            </section>

        </section>
    </main>
    <footer>
        <p>Graphel Desarrollo Web, Copyright© 2017</p>
    </footer>
</body>
</html>